.container {
  display: flex;
  justify-content: space-between;
}

.similarContainer {
  margin-top: 40px;
  width: 130px;
}

.similarContainer :hover {
  cursor: pointer;
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: transform var(--motion-duration) var(--motion-ease);
}

.similarPoster {
  box-shadow: 2px 5px 5px black;
  height: 120px;
}

.titleOrName {
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-shadow: 2px 5px 5px black;
}
