:root {
  --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --motion-duration: 0.2s;
  box-sizing: border-box;
  font-size: clamp(16px, 5vw, 32px);
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  color: #8b8b8b;
  cursor: pointer;
  font-weight: 500;
  font: inherit;
  line-height: 1;
  margin: 10px;
  padding: 0.6em 1em;
  position: relative;
  transition: filter var(--motion-duration);
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
}

button:hover > span {
  color: #ffffff;
  transform: scale(1.25);
}

button:active > span {
  transform: scale(0.95);
}

button > svg {
  fill: #000000;
  height: 110%;
  left: -5%;
  position: absolute;
  top: -5%;
  width: 110%;
}

button > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

button:hover > svg > path {
  d: path(
    'M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0'
  );
}

button:active > svg > path {
  d: path(
    'M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0'
  );
}

.backToHomeBtn {
  align-self: flex-end;
  font-size: 24px;
}
