:root {
  --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --motion-duration: 0.2s;
  box-sizing: border-box;
  font-size: clamp(16px, 5vw, 32px);
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 90%;
}

.btn {
  background-color: #fafafa;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(94, 94, 94);
  color: blueviolet;
  cursor: pointer;
  font-size: 40px;
  height: 60px;
  margin: 10px;
  width: 60px;
}

.btn:hover {
  cursor: pointer;
}
