.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informationContainer {
  background-color: #00000071;
  border-radius: 20px;
  border: 6px solid rgb(196, 196, 196);
  box-shadow: 6px 6px 5px black;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  width: 60%;
}

.information {
  align-items: center;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.titleOrName {
  color: rgb(255, 255, 0);
  font-size: 36px;
}

.overview {
  font-size:14px;
}

.backgroundImage {
  background-size: cover;
  height: 130vh;
  opacity: 0.3;
  position: fixed;
  z-index: -1;
}

.voteContainer {
  display: flex;
  margin: 0 140px;
}

.vote {
  font-size: 20px;
}
